<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombres, autofocus: true, placeholder: 'Ingrese Nombre', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :apellidopaterno, 'Apellido Paterno' %><br />
    <%= f.text_field :apellidopaterno %>
  </div>

  <div class="form-group">
    <%= f.label :apellidomaterno, 'Apellido Materno' %><br />
    <%= f.text_field :apellidomaterno %>
  </div>
  <div class="form-group col-md-12">
    <div class=" col-md-5">
      <label>Sexo:</label>
      <%= f.select :sexo, {'Masculino'=>'Masculino', 'Femenino'=>'Femenino'}, { :include_blank =>'Selecciona Sexo' }, :class => 'form-control input-sm' %>
    </div>
    <div class="col-md-5">
      <%= f.label :fechanacimiento, 'Fecha de Nacimiento' %><br />
      <%= f.date_select :fechanacimiento, {:start_year => 1935, :end_year => 2000, :include_blank => true},  {:class => ''} %>
    </div>
    <div class="clearfix"> </div>
    <div class="col-md-5">

      <input type="hidden" name="user[telefonos_attributes][0][tipo]" value="Local">
      <label>Local:</label>
      <input class="form-control" placeholder="Numero" type="text" name="user[telefonos_attributes][0][numero]" >
    </div>
    <div class="col-md-5">
      <input type="hidden" name="user[telefonos_attributes][1][tipo]" value="Movil">
      <label>Móvil:</label>
      <input class="form-control" placeholder="Numero" type="text" name="user[telefonos_attributes][1][numero]">
    </div>
  </div>



  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <fieldset>

    <input type="hidden" name="user[direcciones_attributes][0][tipo]" value="personal">
    <label>Colonia:</label><input class="form-control" placeholder="Colonia" type="text" name="user[direcciones_attributes][0][colonia]" id="colonia" required>
    <label>Calle:</label><input class="form-control" placeholder="calle" type="text" name="user[direcciones_attributes][0][calle]" id="calle" required>
    <label>Código Postal:</label><input class="form-control" placeholder="cp" type="text" name="user[direcciones_attributes][0][cp]" id="cp" required>
    <label>Número Exterior:</label><input class="form-control" placeholder="Numero Exterior" type="text" name="user[direcciones_attributes][0][numexterior]" required>
    <label>Número Interior:</label><input class="form-control" placeholder="Numero Interior" type="text" name="user[direcciones_attributes][0][numinterior]" >

    <select name="ciudad1" class="form-control"  id="ciudad1" >
      <option value="" selected>Seleccione Ciudad</option>
      <% @ciudades.each do |ciudad| %>
        <option value="<%= ciudad.id %>"><%= ciudad.nombre %></option>

      <% end %>

    </select>

    <select name="user[direcciones_attributes][0][delegacion_id]" class="form-control" id="delegacion1">
      <option value="" selected>Seleccione Delegación</option>
      <% @delegaciones.each do |delegacion| %>
        <option value="<%= delegacion.id %>" class="<%= delegacion.ciudad_id %>"><%= delegacion.nombre %></option>

      <% end %>

    </select>
    <script>
      $( document ).ready(function() {
        $("#delegacion1").chained("#ciudad1");

        $("#colonia1").chained("#ciudad1");
        $("#colonia2").chained("#ciudad1");
        $("#colonia3").chained("#ciudad1");
      });

    </script>
  </fieldset>
<% if params[:tipo] == 'Cliente' %>
  <%= f.hidden_field :manejo, value: '1' %>
<% else %>
    <%= f.hidden_field :manejo, value: '2' %>
    <fieldset>
      <legend>Datos Legales</legend>
      <div class="form-group col-md-6">
        <label>CURP:</label><br />
        <input class="form-control" placeholder="curp" type="text" name="user[legal_attributes][curp]">
      </div>
      <div class="form-group col-md-6">
        <label>RFC:</label><br />
        <input class="form-control" placeholder="rfc" type="text" name="user[legal_attributes][rfc]">
      </div>
    </fieldset>

    <fieldset>
      <legend>Colonias Puede cubrir</legend>
      <select name="user[coloniacobertura_attributes][0][colonia_id]" class="form-control" id="colonia1">
        <option value="" selected>Seleccione Colonia</option>
        <% @colonias.each do |colonia| %>
          <option value="<%= colonia.id %>" class="<%= colonia.ciudad_id %>"><%= colonia.nombre %></option>

        <% end %>

      </select>

      <select name="user[coloniacobertura_attributes][1][colonia_id]" class="form-control" id="colonia2">
        <option value="" selected>Seleccione Colonia</option>
        <% @colonias.each do |colonia| %>
          <option value="<%= colonia.id %>" class="<%= colonia.ciudad_id %>"><%= colonia.nombre %></option>

        <% end %>

      </select>

      <select name="user[coloniacobertura_attributes][1][colonia_id]" class="form-control" id="colonia3">
        <option value="" selected>Seleccione Colonia</option>
        <% @colonias.each do |colonia| %>
          <option value="<%= colonia.id %>" class="<%= colonia.ciudad_id %>"><%= colonia.nombre %></option>

        <% end %>

      </select>
    </fieldset>


    <fieldset>
      <legend>ARCHIVOS</legend>
      <blockquote class="alert alert-info">
        <p>
          Envío de Documentación (Por favor, ingrese los documentos solicitados, peso máximo por documento 4mb, formato .pdf, .jpg, .png, word)
        </p>

      </blockquote>

      <div class="panel panel-default col-md-4">
        <div class="panel-heading">Carta de antecedentes no penales</div>
        <div class="panel-body">
          <input class="form-control"  type="hidden" name="user[archivos_attributes][0][tipo]" value="Antecedentes no penales">
          <input class="form-control"  type="file" name="user[archivos_attributes][0][archivo]">
          <input class="form-control"  type="hidden" name="user[archivos_attributes][0][archivo_cache]">
        </div>
      </div>

      <div class="panel panel-default col-md-4">
        <div class="panel-heading">IFE</div>
        <div class="panel-body">
          <input class="form-control"  type="hidden" name="user[archivos_attributes][1][tipo]" value="IFE">
          <input class="form-control"  type="file" name="user[archivos_attributes][1][archivo]">
          <input class="form-control"  type="hidden" name="user[archivos_attributes][1][archivo_cache]">
        </div>
      </div>

      <div class="panel panel-default col-md-4">
        <div class="panel-heading">Fotografia Sexi</div>
        <div class="panel-body">
          <input class="form-control"  type="hidden" name="user[archivos_attributes][2][tipo]" value="fotografia">
          <input class="form-control"  type="file" name="user[archivos_attributes][2][archivo]">
          <input class="form-control"  type="hidden" name="user[archivos_attributes][2][archivo_cache]">
        </div>
      </div>
    </fieldset>
<% end %>


  <div class="actions">
    <br /><br />
    <%= f.submit "Enviar registro", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
