<p id="notice"><%= notice %></p>

<h1>Listing Direcciones</h1>

<table>
  <thead>
    <tr>
      <th>Colonia</th>
      <th>Calle</th>
      <th>Cp</th>
      <th>Delegacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @direcciones.each do |direccion| %>
      <tr>
        <td><%= direccion.colonia %></td>
        <td><%= direccion.calle %></td>
        <td><%= direccion.cp %></td>
        <td><%= direccion.delegacion %></td>
        <td><%= link_to 'Show', direccion %></td>
        <td><%= link_to 'Edit', edit_direccion_path(direccion) %></td>
        <td><%= link_to 'Destroy', direccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direccion', new_direccion_path %>
