<p id="notice"><%= notice %></p>

<p>
  <strong>Colonia:</strong>
  <%= @direccion.colonia %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @direccion.calle %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @direccion.cp %>
</p>

<p>
  <strong>Delegacion:</strong>
  <%= @direccion.delegacion %>
</p>

<%= link_to 'Edit', edit_direccion_path(@direccion) %> |
<%= link_to 'Back', direcciones_path %>
