<p id="notice"><%= notice %></p>

<h1>Listing Delegaciones</h1>

<table>
  <thead>
    <tr>
      <th>Ciudad</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delegaciones.each do |delegacion| %>
      <tr>
        <td><%= delegacion.ciudad %></td>
        <td><%= delegacion.nombre %></td>
        <td><%= link_to 'Show', delegacion %></td>
        <td><%= link_to 'Edit', edit_delegacion_path(delegacion) %></td>
        <td><%= link_to 'Destroy', delegacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delegacion', new_delegacion_path %>
