<p id="notice"><%= notice %></p>

<p>
  <strong>Ciudad:</strong>
  <%= @delegacion.ciudad %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @delegacion.nombre %>
</p>

<%= link_to 'Edit', edit_delegacion_path(@delegacion) %> |
<%= link_to 'Back', delegaciones_path %>
