<%= form_for(@colonia) do |f| %>
  <% if @colonia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@colonia.errors.count, "error") %> prohibited this colonia from being saved:</h2>

      <ul>
      <% @colonia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :ciudad_id %><br>
    <%= f.text_field :ciudad_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
