<p id="notice"><%= notice %></p>

<h1>Listing Colonias</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colonias.each do |colonia| %>
      <tr>
        <td><%= colonia.nombre %></td>
        <td><%= colonia.ciudad %></td>
        <td><%= link_to 'Show', colonia %></td>
        <td><%= link_to 'Edit', edit_colonia_path(colonia) %></td>
        <td><%= link_to 'Destroy', colonia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colonia', new_colonia_path %>
