<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @colonia.nombre %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @colonia.ciudad %>
</p>

<%= link_to 'Edit', edit_colonia_path(@colonia) %> |
<%= link_to 'Back', colonias_path %>
